################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs
/WID_LoadLibrary.vcxproj.user
/x64/Debug
/Src/Main.cpp
